.App {
  margin: 0.5rem 1rem;
}

/* Layout */

.title {
  margin: 4% 0;
  text-align: center;
}

.center-btn {
  text-align: center;
  margin-top: 2rem;
}

.ui.grid {
  justify-content: space-evenly;
}

/* Login */

.dropdown {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

.ui.selection.dropdown:focus {
  border-color: #6435c9;
}

span.login-info {
  display: flex;
  align-items: center;
}

span.login-info > .item {
  padding-left: 0 !important;
}

/* Card */

.content > img.avatar {
  width: 3em !important;
  height: 3em !important;
}

.ui.grey.card {
  margin: 4% auto;
}

.ui.progress {
  margin: 1rem !important;
}

.ui.pink.right.ribbon.label {
  top: 27px;
}

/* Tabs */
.four {
  padding-right: 0px !important;
}

.stretched {
  padding-left: 0px !important;
}

/* Leaderboard */

.leaderboard-cards {
  flex-direction: column;
  align-content: center;
}

.center {
  text-align: center;
  padding: 1rem 0;
}

.header {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.ui .image {
  position: inherit !important;
}

.ui.corner.label {
  width: 0px !important;
  height: 0px !important;
  padding: 7px 5px !important;
}

.leaderboard-cards > .ui.card > .content {
  padding-top: 0 !important;
}

/* Error */
.error-page {
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.go-home {
  margin-left: 40%;
}
